*{
    margin: 0px;
    padding: 0px;
}


body{
    color: white;
    background-color: #0F0F0F;
}

.content{
    display: flex;
    min-height: 80vh;
    position: relative;
    top: 80px;
    border-bottom: 4px solid #80808048;
}

@media screen and (max-width: 767px) {
    .content{
        justify-content: flex-end;
        top: 80px;
        flex-direction: column-reverse;
    }
}

.service{
    position: relative;
    top: 80px;
    min-height: 60vh;
    border-bottom: 4px solid#80808048;
}
